<%= form_with(model: @blog, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @blog.errors.any? %>
    <div class="container">
      <div class="alert alert-danger" role="alert">
        <%= @blog.errors.count %>件のエラーがあります。
      </div>
      <ul>
        <% @blog.errors.full_messages.each do |msg| %>
          <div class=alert_msg>
            <li><%= msg %></li>
          </div>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='input-group date datepicker'>
   　<%= f.text_field :deadline, class:　'form-control' %>
   　<span class="input-group-addon">
    　   <span class="fa fa-calendar"></span>
   　</span>
  </div>
  <div class="title">
    <%= form.label :title %>
  </div>
  <div class="title_text">
    <%= form.text_field :title, :size=>"75" %>
  </div>
  <div class="content">
    <%= form.label :content %>
  </div>
  <div class="content_text">
    <%= form.text_area :content, :size=>"75*200" %>
  </div>
    <a class="square_btn">
      <%= form.submit %>
    </a>
<% end %>

<%= link_to "ブログ一覧画面にもどる", blogs_path %>
