<%= form_with(model: @blog, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @blog.errors.any? %>
    <div class="container">
      <div class="panel panel-danger"><%= @blog.errors.count %>件のエラーがあります。
        <ul>
          <% @blog.errors.full_messages.each do |msg| %>
            <div class=alert_msg>
              <li><%= msg %></li>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="blog_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="blog_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
    <a class=square_btn>
      <%= form.submit %>
    </a>
<% end %>

<%= link_to "ブログ一覧画面にもどる", blogs_path %>
