<h1>以下の内容で登録します。</h1>

<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>

  <div class="title">タイトル</div>
  <div class="title_text">
    <%= @blog.title %>
  </div>
  <div class="content">本文</div>
  <div class="content_text">
    <%= @blog.content %>
  </div>
  <a class="square_btn">
    <%= form.submit "登録する" %>
    <%= form.submit "もどる", name: 'back' %>
  </a>
<% end %>

<%= form_with(model: @blog, url: new_blog_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
<% end %>
<%= link_to "ブログ一覧画面にもどる", blogs_path %>
