<%= form_with(model: @blog, local: true) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="title">
    <%= form.label :title %>
  </div>
  <div class="title_text">
    <%= form.text_field :title, :size=>"90" %>
  </div>
  <div class="content">
    <%= form.label :content %>
  </div>
  <div class="content_text">
    <%= form.text_area :content, :size=>"120*30" %>
  </div>
  <div class=square_btn>
    <%= form.submit %>
  </div>

<%= link_to "ブログ一覧画面にもどる", blogs_path %>
