<div class="index-msg">
  <p>" TRY !! "をクリックするだけ🎶<p>
</div>

<h1>新規ブログを作成する</h1>

<div id="new-blog-link">
  <%= link_to 'TRY !!', new_blog_path %>
</div>
<div class=past_blog>
  <p>過去のブログ一覧</p>
</div>

<%= page_entries_info @shops %>

<div class="container">
  <div class="row">
    <% @blogs.each do |blog| %>
      <nav class="col-md-6">
        <ul class="blog-panel">
          <div class="blog_title_index">
            <p>タイトル</p>
          </div>
          <div class="blog_title_index2">
            <p><%= blog.title %></p>
          </div>
          <div class="blog_content_index">
            <p>本文</p>
          </div>
          <div class="blog_content_index2">
            <p><%= blog.content %></p>
          </div>
        </ul>

        <div class="blog-links">
          <%= link_to 'Show', blog %>
          <%= link_to 'Edit', edit_blog_path(blog)  %>
          <%= link_to 'Destroy', blog, method: :delete, data: { confirm: '本当に消していい?' } %>
        </div>
      </nav>
    <% end %>
  </div>
</div>

<%= paginate @shops %>
