<div class="index-msg">
  <p>" TRY !! "をクリックするだけ🎶<p>
</div>

<h1>新規ブログを作成する</h1>

<div id="new-blog-link">
  <%= link_to 'TRY !!', new_blog_path %>
</div>
<div past_blog>
  <p>過去のブログ一覧</p>
</div>
<% @blogs.each do |blog| %>

  <div class="container">
    <div class="row">
      <nav class="col-md-6">
        <ul class="blog-panel">
          <h2><%= blog.title %></h2>
          <p><%= blog.content %></p>
        </ul>

        <div class="blog-links">
          <%= link_to 'Show', blog %>
          <%= link_to 'Edit', edit_blog_path(blog) %> |
          <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </nav>
    </div>
  </div>



<% end %>
