<div class="index-msg">
  <p>" TRY !! "をクリックするだけ🎶<p>
</div>

<h1>新規ブログを作成する</h1>

<div id="new-blog-link">
  <%= link_to 'TRY !!', new_blog_path %>
</div>

<p>過去のブログ一覧</p>
<% @blogs.each do |blog| %>

  <div class="container">
    <div class="blog-panel">
      <nav> class="blog_list"></nav>
        <ul class="row">
          <li class="col-md-4">><%= blog.title %></li>
          <li class="col-md-4">><%= blog.content %></li>
        </ul>
      </nav>
    </div>

    <div class="blog-links">
      <%= link_to 'Show', blog %>
      <%= link_to 'Edit', edit_blog_path(blog) %> |
      <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>



<% end %>
