<div class="index-msg">
  <p>" TRY !! "をクリックするだけ🎶<p>
</div>

<h1>新規ブログを作成する</h1>

<div id="new-blog-link">
  <%= link_to 'TRY !!', new_blog_path %>
</div>

<p>過去のブログ一覧</p>
<% @blogs.each do |blog| %>

  <div class="container">
    <div class="row">
      <nav class="col-md-4"></nav>
        <ul class="blog-panel">
          <h2><%= blog.title %></h2>
          <p><%= blog.content %></p>
        </ul>
      </nav>

      <div class="blog-links">
        <nav class="col-md-4"></nav>
          <%= link_to 'Show', blog %>
          <%= link_to 'Edit', edit_blog_path(blog) %> |
          <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
        </nav>
      </div>
    </div>
  </div>



<% end %>
