<h1>ブログ画面詳細</h1>
<p>タイトル</p>
<p class="navbar-text">
  <%= @blog.title %>
</p>
<p>本文</p>
<p class="navbar-text">
  <%= @blog.content %>
</p>

<%= form_with(model: @blog, url: new_blog_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <a class=square_btn>
    <%= form.submit "もどる", name: 'back' %>
  </a>
<% end %>
