<!DOCTYPE html>
<html>
<head>
  <title>Let's ブログ</title>
  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head></html>
<body>
  <div class="container">
    <header>
      <div class="row">
        <div class="col-md-3">
          <div class="header_text1">
            <a href="https://lit-gorge-63180.herokuapp.com/blogs">Let's ブログ</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="header_text2">
            せっかく旅行にいったんだから！せっかく仕事頑張ったんだから！<br>
            忘れないうちにブログを書こう、みんなに報告しよう！
          </div>
        </div>
        <div class="col-md-3">
          <div class="header_text1">
            <a><%= link_to 'TRY !!', new_blog_path %></a>
          </div>
        </div>
      </div>
    </header>

<%= yield %>

    <footer>
      <div class="blog_list">
        <a><%= link_to "ブログ一覧画面へ", top_tops_blog_path %></a>
      </div>
      <p>運営会社 Let's 株式会社</p>
      <p>since 2018.3</p>
    </footer>
  </div>
</body>
</html>
